.bg_container{
  z-index: 1;
  position: relative;
  .bg1{
    position: absolute;
    left: 5vw;
    top: 70vh;
    filter: blur(20rem);
    svg{
      width: 50vw;
    }
  }
  .bg2{
    position: absolute;
    right: 10rem;
    top: 150vh;
    filter: blur(20rem);
    svg{
      width: 50vw;
    }
  }
  .bg3{
    position: absolute;
    left: 5vw;
    top: 200vh;
    filter: blur(25rem);
    svg{
      width: 50vw;
    }
  }
  .bg4{
    position: absolute;
    right: 10vw;
    top: 260vh;
    filter: blur(25rem);
    svg{
      width: 50vw;
    }
  }
}

.main{
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(190deg, rgba(10, 203, 174, 0.5) 0, rgba(241,243,247,1) 50vh);
  .root{
    position: relative;
    z-index: 2;
  }
  .hero_section{
    padding-top: 7rem;
    padding-bottom: 2rem;
    margin: 0 1.5rem;
    .hero_container{
      padding-top: 3rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: 7fr 6fr;
      max-width: 60rem;
      margin: auto;
      @media (max-width: 960px) {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
      }
      .lt{
        position: relative;
        .c{
          display: flex;
          flex-direction: column;
          align-items: center;
          .recorder{
            position: relative;
            width: 100%;
            height: 15rem;
            border-radius: 1.5rem;
            background-color: rgba(255, 255, 255, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.3);
            overflow: hidden;
            .wave{
              position: absolute;
              width: 100%;
              height: auto;
              object-fit: cover;
              background-size: 100%;
              margin-top: 2.5rem;
              @media (max-width: 480px) {
                transform: scale(1.5);
              }
            }
            .bblur{
              position: absolute;
              bottom: 2.5rem;
              right: 2.5rem;
              width: 3.5rem;
              height: 3.5rem;
              border-radius: 2rem;
              box-shadow: #3ACBAE;
              box-shadow: 0rem 0rem 2rem 1rem #3ACBAE;
              .icon{
                width: 3.5rem;
                height: 3.5rem;
                background-color: #3ACBAE;
                border-radius: 2rem;
                box-shadow: 0rem 0rem 4px 4px #3ACBAE;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          .ul{
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            @media (max-width: 960px) {
              display: none;
            }
            li{
              color: #3ACBAE;
              span{
                color: #101623;
              }
            }
          }
        }
      }
      .rt{
        @media (max-width: 960px) {
          position: relative;
          z-index: 2;
          top: -8rem;
          height: 16rem;
          .blur{
            position: absolute;
            z-index: -1;
            width: 100vw;
            height: 20rem;
            top: -9rem;
            left: -1.5rem;
            background: linear-gradient(0deg, rgba(241,243,247,1) 0%, rgba(241,243,247,0.7) 60%, rgba(241,243,247,0) 100%);
          }
        }
        .ul{
          display: none;
          @media (max-width: 960px) {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            li{
              color: #3ACBAE;
              span{
                color: #101623;
              }
            }
          }
        }
        .htitle{
          font-weight: 400;
          font-size: 2.5rem;
          color: #101623;
          span{
            font-weight: 700;
          }
        }
        .btns{
          margin-top: 2rem;
          display: flex;
          gap: 1rem;
          .btn1{
            width: 100%;
            height: 3.5rem;
            border-radius: 2rem;
            background-color: #3ACBAE;
            color: #fff;
            font-weight: 600;
          }
          .btn2{
            width: 100%;
            height: 3.5rem;
            border-radius: 2rem;
            background-color: transparent;
            border: 1px solid #3f3f3f;
            color: #3f3f3f;
            font-weight: 600;
            &:hover{
              background-color: #3f3f3f;
              color: #fff;
            }
          }
        }
        .description{
          margin-top: 2rem;
          font-size: 1rem;
          color: #3f3f3f;
        }
      }
    }
  }
  .news_section{
    max-width: 60rem;
    margin: auto;
    padding: 2rem 0;
    @media (max-width: 1008px) {
      margin: 0 1.5rem;
    }
    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2{
        font-size: 1.5rem;
        font-weight: 600;
        color: #101623;
      }
      a{
        color: #3ACBAE;
      }
    }
    .cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 1rem;
      @media (max-width: 768px) {
        display: flex;
        gap: 8px;
        flex-direction: column;
      }
      .card{
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
          aspect-ratio: inherit;
          flex-direction: row;
          padding: 8px;
          height: 6rem;
          border-radius: 8px;
        }
        .img{
          aspect-ratio: 5/4;
          width: 100%;
          height: auto;
          border-radius: 8px;
          object-fit: cover;
          background-size: 100%;
          @media (max-width: 768px) {
            height: 100%;
            border-radius: 6px;
            width: auto;
          }
        }
        .txt{
          margin-top: 12px;
          @media (max-width: 768px) {
            margin-top: 0;
            margin-left: 8px;
            aspect-ratio: inherit;
            height: 100%;
            width: auto;
          }
          .tags{
            display: flex;
            gap: 8px;
            .tag{
              padding: 2px 6px;
              background-color: #3ACBAE;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              @media (max-width: 768px) {
                font-size: 10px;
              }
            }
          }
          .description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 8rem;
            @media (max-width: 768px) {
              height: calc(100% - 1rem);
            }
            .title{
              margin-top: 8px;
              color: #101623;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
            .date{
              @media (max-width: 768px) {
                font-size: 10px;
              }
              span{
                color: #3ACBAE;
              }
            }
          }
        }
      }
    }
  }
  .pricing_section {
    max-width: 45rem;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
    @media (max-width: calc(45rem + 3rem)) {
      margin: 0 1.5rem;
    }
  
    .title {
      font-family: 'Inter', sans-serif;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 2rem;
      color: #3F3F3F;
    }
  
    .select {
      display: flex;
      justify-content: center;
      margin: auto auto 2rem auto ;
      background-color: rgba(255, 255, 255, 0.5);
      border: 2px solid rgba(255, 255, 255, 0.32); /* 32% transparent white border */
      border-radius: 50px;
      width: fit-content;

  
      .b2c,
      .b2b {
        font-family: 'Rubik', sans-serif;
        font-size: 13px;
        font-weight: 600;
        padding: 0.6rem 2rem;
        margin: 0.2rem;
        font-size: 1rem;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: #3F3F3F;
        
        &.active {
          background-color: #3acbae;
          color: #fff;
        }
  
        /*&:hover {
          background-color: #67d1f9;
          color: #fff;
        }*/
      }
    }
  
    // .content {
    //   border: 1px solid #ddd;
    // }
    .cards {
      justify-content: center;
      display: flex;
      .swiper{
        width: 100%;
        --swiper-pagination-color: #0ACBAE;
        --swiper-pagination-bullet-inactive-color: #ccc;
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-horizontal-gap: 4px;
      }

      .card {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        padding: 2rem;
        width: 100%;
        text-align: center;
        min-height: 460px;
        flex-direction: column;
        align-items: center;
        display: grid;
        margin-bottom: 3rem;
      
        .title {
          font-size: 29px;
          font-weight: 600;
          font-family: 'Rubik', sans-serif;
          color: #0ACBAE;
          margin-bottom: 10px;
          text-align: left;
        }
      
        .description {
          font-size: 14px;
          font-weight: 300;
          font-family: 'Rubik', sans-serif;
          color: #3F3F3F;
          margin-bottom: 20px;
          min-height: 5rem;
          text-align: left;
        }
      
        .price {
          display: flex;
          justify-content: start;
          align-items: flex-start;
          font-size: 3rem;
          font-weight: 600; 
          font-family: 'Rubik', sans-serif;
          color: #3F3F3F;
          margin-bottom: 1rem;
          line-height: 3rem;
          .year{
            font-size: 14px;
            height: 16px;
            padding-top: 12px;
          }
          &::before {
            line-height: 2rem;
            display: flex;
            content: "₮";
            font-size: 1.5rem;
            font-weight: 300;
            color: #3ACBAE;
            padding-right: 6px;
          }
        }
        
      
        .features {
          list-style: none;
          padding: 0;
          margin-top: 20px;
          .ln{
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.15);
          }
          .feature {
            height: 56px;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            color: #3F3F3F;
            font-size: 1rem;
            .labels {
              font-size: 14px;
              font-weight: 300;
              font-family: 'Rubik', sans-serif;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
  .app_section{
    padding: 2rem 0;
    max-width: 60rem;
    margin: auto;
    @media (max-width: 1008px) {
      margin: 0 1.5rem;
    }
    .box{
      position: relative;
      width: 100%;
      height: 35rem;
      border-radius: 2rem;
      background-color: rgba(255,255,255, .5);
      border: 1px solid rgba(255, 255, 255, 0.3);
      overflow: hidden;
      @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
      }
      .bblur{
        display: none;
        @media (max-width: 960px) {
          display: initial;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 20rem;
          bottom: 0;
          left: 0;
          background: linear-gradient(0deg, rgba(241,243,247,1) 0%, rgba(241,243,247,0.4) 80%, rgba(241,243,247,0) 100%);
        }
      }
      .logo{
        position: absolute;
        z-index: 3;
        top: 2.25rem;
        left: 2.25rem;
        display: flex;
        align-items: center;
        gap: 12px;
        .fav{
          width: 3rem;
          height: 3rem;
        }
        .title{
          color: #101623;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .img{
        width: 22rem;
        height: auto;
        margin-top: 5rem;
        margin-left: 5rem;
        @media (max-width: 960px) {
          margin-left: 0;
          width: 80%;
        }
      }
      .wrap{
        right: 7.5rem;
        bottom: 5rem;
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media (max-width: 960px) {
          // position: initial;
          right: initial;
          bottom: 4rem;
        }
        .qr{
          width: 12rem;
          height: auto;
          margin-bottom: 4rem;
          @media (max-width: 960px) {
            display: none;
          }
        }
        .subtitle{
          font-size: 1.25rem;
          font-weight: 500
        }
        .btns{
          display: flex;
          gap: 1rem;
          .dbtn{
            color: #fff;
            padding: 14px 21px;
            background-color: #3f3f3f;
            border-radius: 12px;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 12px;
            border: 1px solid rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}